footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: $secondaryColor;
    font-size: 15px;
    height: 5vh;
    p {
        text-align: right;
        margin-bottom: 20px;
        background-color: #bdb1a3e1;
        padding: 10px 15px;
        border-radius: 7px;
    }
    a:hover,
    a:focus-within {
        text-decoration: underline;
    }
}